body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.banner-top{
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.half-width img{
    width: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 255, 0);
    outline: 5px solid rgb(156, 156, 156);
    margin: 20px auto;
    display: flex;
}
.experience-area{ 
    background-image: url(./image/abstract-white-shapes-background_79603-1362.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.half-width p{
    padding-right: 120px;
}
.shadow{
    box-shadow: 10px 5px 5px 5px gray;
    width: 40%;
    margin: 0 auto;
    border-left: 7px solid orange;
    border-top-left-radius: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
    
}
.routine-area{
    background-image: url(./image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.cry-area{
    background-image: url(./image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
footer p{
    text-align: center;
    
}